* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rb {
  min-height: 100vh;
}

.rb:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #f5f5f5;
  background-size: 200px;
  transition: all 3s ease-in-out;
}

.rb:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  height: 450px;
  background: url(./logo-banner-rotator.png) no-repeat center center;
  background-size: cover;
  z-index: 101;
  transform: translate(-50%, -50%) scale(1) rotate(90deg);
  transition: all 3s ease-in-out;
}

.rb.--hide-loading:before {
  opacity: 0;
  visibility: hidden;
  transition-delay: 1.5s;
}

.rb.--hide-loading:after {
  top: 15%;
  transform: translate(-50%, -50%) scale(0.4) rotate(0deg);
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .rb-logged-out {
  text-align: center;
}

.rb-logged-out h1 {
  padding-bottom: 20px;
} */