* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rb {
  min-height: 100vh;
}

.rb:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgb(123, 12, 228);
  transition: all 0.3s ease-in-out;
}

.rb:after {
  content: "";
  position: absolute;
  left: calc(50% - 55px);
  top: calc(50% - 55px);
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-color: red blue green yellow;
  border-radius: 100px;
  z-index: 11;
  animation: spin infinite 1s linear;
  transition: all 0.3s ease-in-out;
}

.rb.--hide-loading:after,
.rb.--hide-loading:before {
  opacity: 0;
  visibility: hidden;
}

.rb-button {
  padding: 5px 10px;
  background: green;
  font-weight: bold;
  cursor: pointer;
}

.rb-button.--red { background-color: red; }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rb-logged-out {
  text-align: center;
}

.rb-logged-out h1 {
  padding-bottom: 20px;
}